@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --background: #F5F3F4;
  --font-family: "Figtree", serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F3F4;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
}

.group ul li a:hover::after {
  background-color: #FF7A01;
  border-radius: 4px;
  width: 5px;
  left: -10px;
  opacity: 1;
}

